.git
.gitignore
README.md
Dockerfile
.dockerignore
node_modules
npm-debug.log
.nyc_output
.env
.ENV
.env.local
.env.example
*.sqlite
*.db
__pycache__
.pytest_cache
.coverage
*.pyc
*.pyo
*.pyd
.Python
*.so
.venv
pages
*.log
.DS_Store